{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <style>
    h1 {
      text-align: center;
      color: #6cbeed;
      background-color: #052F5F;
    }

    .img1 {
      height: 50px;
      width: 50px;
    }

    h2 {
      text-align: center;
      color: #d5c67a;
      background-color: #052F5F;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: 0PX;
      font-weight: 500;
      line-height: 1.2;
    }

    /* .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 0px;
      padding-bottom: 0px;
    }*/

    element.style {
      .p-3 {
        padding: 0;
      }

      .mt-4 {
        margin-top: 0px;
      }
    }

    .bg-light {
      background-color: #f8f9fa !important;
    } 
    .navbar {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 0px;
            padding-bottom: 0px;
            background-color: #000; /* Set background color to black */
        }

        .navbar a {
            color: #fff !important; /* Set text color to white */
        }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="background-color: black;">
      <img class="img1" src="/static/images/r1.jpg " style="margin-right: 30px;"><b><a class="navbar-brand"
          style="color:#efbbcc; margin-right: 120px;" href=""> SWARAJ RESTAURANT</a></b>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/About">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Contact">CONTACT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              MENU
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: rgb(8, 30, 233);">
              <li><a class="dropdown-item" href="Menu1">VEG DISHES</a></li>
              <li><a class="dropdown-item" href="Menu2">NON-VEG DISHES</a></li>
              <li><a class="dropdown-item" href="Menu3">VEG STARTUP</a></li>
              <li><a class="dropdown-item" href="Menu4">NON-VEJ STARTUP</a></li>
              <li><a class="dropdown-item" href="Menu5">DESSERT</a></li>
              <li><a class="dropdown-item" href="Menu6">COLD-DRINKS</a></li>
              <li><a class="dropdown-item" href="Menu7">CHINESE</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/feedback">FEEDBACK</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="viewcart">CART</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">LOGIN </a>
          </li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">LOGOUT</a></li>

        </ul>
      </div>
    </div>
  </nav>
      
      <div class="container">
        <div class="row p-4">
            <div class="col-md-8 mt-4 mb-4" style="background-color: darkcyan;">
                <div class="row show p-3">
                    <div class="shadow p-3">
                       <h4>Cart Items</h4> 
                       <hr>
                    </div> 
                    {%for c in cart %}
                    <div class="col-sm-3 shadow p-3">
                        <img src = "{{ c.pid.pimage }}" style="width: 100%;">
                        
                    </div>   <!--end of image -->

                    <div class="col-sm-9 shadow p-3">
                        <p><strong>Product name:</strong>{{ c.pid.name }}</p>
                        <p><strong>Product Category:</strong>{{ c.pid.cat }}</p>
                        <p><strong>Product price:</strong>{{ c.pid.price }} Per Product</p>

    
                        </p>
                        <a href = "updateqty/0/{{ c.id }}" class = "btn btn-danger">-</a>
                        <input type="text" name="qty" id="qty" value="{{ c.qty }}">
                        <a href = "updateqty/1/{{ c.id }}" class = "btn btn-success">+</a>
                        <a href = "removecart{{ c.id }}" class = "btn btn-danger">remove</a>
                    </div> 
                    {% endfor %}   <!--end of product 1 -->
                </div>
            </div> 
             <!--end of product lists -->
             <br>
             <br>

            <div class="col-md-4 mt-4 mb-4 shadow p-3" style="background-color:  darkslategrey ; color:whitesmoke;">
                <h4> Price Details</h4>
                <hr>
            
                <p> <strong>price :{{ n }} items</strong> RS.{{ total }}</p>
                <p> <strong> Total Amount:</strong> RS.{{ total }}</p>
                <a style=text-align:right; href="placeorder" class="btn btn-primary" > Check Out</a>
            </div> 
           
        </div>

        

    </div> <!--end of product lists -->

            <!-- <div class="col-md-4 mt-4 mb-4 shadow p-3">
                <h4> Price Details</h4>
                <hr>
                <p> <strong> Apple Series 9( x 2 items):</strong> 41900</p>
                <p> <strong> Boat( x 1 items):</strong> 45000</p>
                <p> <strong> Total Amount:</strong> 86000</p>
                <a style=text-align:right; href="#" class="btn btn-primary" > Check Out</a>
            </div>  -->
           
        </div>

        

    </div>

    <div class="row " style="background-color:darkblue; color: lightcyan;">
      <div class="col-md-4  p-2">
        <div class="container text">
          <h5 style="text-align: center;">Address</h5>
          <hr>
          Swaraj Restaurant,LandMark Building, <br>
          Behind Starbucks, FC Road, <br>
          Pune, <br>
          Maharashtra, <br>
          411051
        </div>
      </div> <!--End of address -->
  
      <div class="col-md-4   p-2">
  
        <h5>Quick Links</h5>
        <hr>
        <p><a href="/feedback" class="anchor" style=" color: lightcyan;">FEEDBACK</a></p>
        <p><a href="/About" class="anchor" style=" color: lightcyan;">About</a></p>
        <p><a href="/contact" class="anchor"  style=" color: lightcyan;">Contact</a></p>
        <p><a href="/login" class="anchor" style="color: lightcyan;">Login</a></p>
  
      </div> <!--End of quicklinks-->
      <div class="col-md-4  subtle p-3">
        <h5>Connect Us</h5>
        <hr>
  
        <h5 class="social"><a href="http://www.instagram.com"><img class="img2" src="static/images/instagram.jpeg" style="height: 50px; width: 50px;"></a></h5>
        <br>
        <br>
        <h5 class="social"><a href="http://www.facebook.com"><img class="img2" src="static/images/fb.jpeg" style="height: 50px; width: 50px;"></a></h5>
        <br>
        <br>
        <h5 class="social"><a href="https://twitter.com/?lang=en"><img class="img2" src="static/images/twiter.jpeg" style="height: 50px; width: 50px;"></a></h5><br>
  
      </div> <!--end of social media icons -->
    </div>
        <script src = "static/js/bootstrap.min.js"></script>
        <script src = "static/js/popper.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>